<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vishistvarugeese.dynamic_data_transfer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dynamic Data Access"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="View Data"
            android:parentActivityName=".AdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SecondActivity"
            android:label="Data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".AdminActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:parentActivityName=".AdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userAccountsActivity"
            android:label="@string/title_activity_user_accounts"
            android:parentActivityName=".AdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewDataSecondActivity"
            android:label="Data"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NormalUserProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>